* {
  /* outline: 1px solid red; */
}

@media (max-width: 1500px) {
  * {
    font-size: 0.7rem;
  }
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}


body::-webkit-scrollbar {
  width: 0 !important;
}


input,
select {
  border: none !important;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}